.scheduleCalendarModalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.scheduleCalendarModalContainer {
  width: 240px;
  background: #fff;
  padding: 12px 14px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  font-size: 13px;
}